templates/02-nav-invoice-handler.json
{
  "name": "QUiCK — NAV számla feldolgozó",
  "description": "QUiCK Trigger figyeli az új NAV-os számlákat. Az ellenőrzés után minden új számláról Slack értesítést küld.",
  "tags": ["quick", "nav", "trigger", "slack"],
  "nodes": [
    {
      "id": "trigger",
      "name": "QUiCK Trigger — New Expense",
      "type": "n8n-nodes-quick.quickTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "parameters": { "event": "newExpense" },
      "pollTimes": { "item": [{ "mode": "everyMinute" }] }
    },
    {
      "id": "filter-nav",
      "name": "Csak NAV számlák",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [480, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            {
              "leftValue": "={{ $json.is_nav }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ]
        }
      }
    },
    {
      "id": "check",
      "name": "Auto-check",
      "type": "n8n-nodes-quick.quick",
      "typeVersion": 1,
      "position": [720, 300],
      "parameters": {
        "resource": "expense",
        "operation": "check",
        "ids": "={{ $json.id }}"
      }
    },
    {
      "id": "slack",
      "name": "Slack értesítő",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [960, 300],
      "parameters": {
        "channel": "#konyvelo",
        "text": "=Új NAV számla:\n*{{ $json.partner_name }}*\nSzla.: {{ $json.invoice_number }}\nÖsszeg: {{ $json.gross_amount }} Ft\nFizetési határidő: {{ $json.due_at }}"
      }
    }
  ],
  "connections": {
    "QUiCK Trigger — New Expense": {
      "main": [[{ "node": "Csak NAV számlák", "type": "main", "index": 0 }]]
    },
    "Csak NAV számlák": {
      "main": [[{ "node": "Auto-check", "type": "main", "index": 0 }]]
    },
    "Auto-check": {
      "main": [[{ "node": "Slack értesítő", "type": "main", "index": 0 }]]
    }
  }
}
